

{% extends 'base.html'%}
{% block title%} Gallery {% endblock %}

{% block content %}
    <div class="container ">
        <div class="row mt-6">
            {% for image in images %}
                <div class="col-md-3 bg-body-secondary my-3 mx-2 text-center rounded" style="width: 18rem;">
                    
                    <img src="{{ url_for('Download_file', id=image.id)}}" alt="{{image.filename}}" style="width: 230px; height: auto ">

                    <a href="{{ url_for('Download_file', id = image.id)}}" class='btn btn-info my-2'>Download</a>

                </div>
                
            {% endfor %}
        </div>
    </div>

{% endblock %}
