{% extends 'base.html' %}
{% block title %} Upload {% endblock %}

{% block content %}
    <div class="container mt-5 text-center">
        <h1 class='display-5'><strong>Flask File Upload and Download<strong> </h1>
        
    </div>

    <div class="container text-center "  style="width: 24rem ">  
        <div class="row">
            <div class='card mt-3 p-4 bg-body-secondary shadow-lg'>
                <h1 class='display-6 mb-3'>Upload File</h1>

                <form  method='POST' enctype='multipart/form-data'>
                    <input class='mb-3' type="file" name='file'><br>
                    <input class='btn btn-outline-primary' type="submit" value='Sumbit'>
                </form>

            </div>
        </div>
        
    </div>
    
{% endblock %}